<h2 class="ui center aligned medium icon header">
  <i class="circular coffee icon orange"></i>
  Welcome to chat
</h2>
<%#= will_paginate @messages %>
<br>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid card  main-color">
      <div class="content">
        <div id='message_container'>

          <%= turbo_stream_from "messages" %>

          <div id="messages" class="ui large feed chat-box" data-controller="scroll-to-end">
            <%= render @messages %>
          </div>

        </div>
      </div>
      <div class="extra content">
        <%= form_with(model: @message,
                      data: { controller: "reset-form", action: 'turbo:submit-end->reset-form#reset' },
                      remote: true,
                      class: "ui reply form") do |f| %>

          <div class="field">
            <div class="ui fluid action input ">
              <%= f.text_area :body, placeholder: "Message...", rows: 1, wrap: "hard" %>
              <%= f.button '<i class="keyboard icon"></i>Enter'.html_safe,
                           class: "ui orange button" %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
  <div class="four wide column">


    <div class="ui card chat-box main-color">
      <div class="content">
        <%= turbo_stream_from "online_users" %>
        <div id='online_users' class="ui inverted vertical menu">
          <%= render @online_users %>
        </div>
      </div>
    </div>
  </div>
</div>
