<h2 class="ui center aligned medium icon header">
  <i class="circular coffee icon orange"></i>
  Welcome to chat
</h2>
<%= will_paginate @messages %>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid card chat-box main-color">
      <div class="content">
        <div class="ui large feed">

          <%= render 'message/message' %>

        </div>
      </div>
      <div class="extra content ">

        <%= form_for(@message, html: { class: "ui reply form", role: "form" }, url: message_path) do |f| %>
          <div class="field">
            <div class="ui fluid action input ">
              <%= f.text_field :body, placeholder: "Message..." %>
              <%= f.button '<i class="keyboard icon"></i>Enter'.html_safe, class: "ui orange button" %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card chat-box main-color">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
